body {
}
h1 {
    text-align: center;
    color: red;
}
#Company_Name {
    color: red;
    text-align: center;
    font-size: 110px;
}
#first{
    margin-left:500px;
}
.table1 {
  margin-left:500px;
}